Template: @@NAME@@/add-microsoft-repo
Type: boolean
Default: true
Description: Add the apt repository for Vousoir?
 The installer would like to add an apt repository and signing
 key to update Vousoir through apt.
